/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	compatible = "x-kernel,riscv64-virt";
	model = "X-Kernel RISC-V virtual machine";

	chosen {
		bootargs = "console=ttyS0 earlycon=uart8250,mmio,0x10000000 root=/dev/vda rw";
		linux,initrd-start = <0x0 0x0>;
		linux,initrd-end = <0x0 0x0>;
		stdout-path = "/uart@10000000";
	};

	memory@c0000000 {
		device_type = "memory";
		reg = <0x0 0xc0000000 0x0 0x0c000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <10000000>;

		cpu@0 {
			device_type = "cpu";
			reg = <0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcsu";
			mmu-type = "riscv,sv39";

			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
			};
		};
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		plic: interrupt-controller@c000000 {
			#address-cells = <0>;
			#interrupt-cells = <1>;
			compatible = "riscv,plic0";
			interrupt-controller;
			interrupts-extended = <&cpu0_intc 11>;
			reg = <0x0 0x0c000000 0x0 0x00400000>;
			riscv,ndev = <63>;
		};

		uart@10000000 {
			compatible = "ns16550a";
			reg = <0x0 0x10000000 0x0 0x100>;
			clock-frequency = <3686400>;
			current-speed = <115200>;
			reg-shift = <0>;
			reg-io-width = <1>;
		};

		virtio_mmio@a000000 {
			compatible = "virtio,mmio";
			reg = <0x0 0x0a000000 0x0 0x1000>;
			interrupt-parent = <&plic>;
			interrupts = <48>;
		};
	};
};
